# Cahce and user-dependent directories
.idea/**
/.idea/**
__pycache__/**
/__pycache__/**
venv/**
/venv/**
.pytest_cache/**
/.pytest_cache/**
/.pytest_cache/
.pytest_cache/


# Database
*.db

# Logs
debug.log
/debug.log
